@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.portfolio-body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#dd9333, #deb887);
}

.portfolio-body1 {
    background: linear-gradient(to bottom, #cc3a00, #942a00, #681d00, #000000);
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin: 0;
    background: linear-gradient(#4240A3, #2220a8);
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

#image-and-title img {
    width: 25px;
}

#image-and-title h4 {
    margin-left: 10px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 18px;
}

nav ul i {
    color: white;
    font-size: 30px;
    margin-right: 20px;
    transition: .2s ease;
    cursor: pointer;
}

nav ul i:hover {
    font-size: 33px;
    text-shadow: 1px 0px 12px white;
}

.menu-items {
    display: none;
    text-align: center;
    background: linear-gradient(#2220a8, #4240A3);
    color: black;
    border-radius: 5px;
}

.menu-items li {
    background-color: white;
    border: 1px solid black;
    padding: 10px 0;
    color: black;
    transition: .1s linear;
}

.menu-items li:hover {
    background-color: orangered;
    color: white;
}

.fa-bars {
    background-color: #000000a2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-bars:hover {
    text-shadow: none;
    font-size: 30px;
}

.settings-menu {
    background: linear-gradient(#2220a8);
    display: none;
    color: black;
}

.settings-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10px 0 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.settings-menu i {
    color: black;
}

.fa-toggle-off:hover {
    font-size: 30px;
    text-shadow: none;
}

.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 5px;
    margin-left: 10%;
}

.banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text h1 {
    font-size: 45px;
}

.banner-text h4 {
    color: tomato;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image img {
    width: 85%;
}

.banner-text button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
}

.banner-text button:hover {
    background-color: orange;
    font-size: 20px;
    box-shadow: 1px -1px 13px white;
}

.section-heading {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    padding: 20px 0;
}

.service-container {
    margin: 0 7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.service {
    text-align: center;
    padding: 20px 5px;
    color: black;
    transition: .2s ease;
}

.service:hover {
    box-shadow: 1px -1px 12px black;
}

.service img {
    width: 30%;
}

.service h1 {
    font-size: 25px;
}

.service1 {
    color: white;
}

.my-skills {
    margin: 0 9%;
}

.skill-container ul {
    list-style: none;
}

.skill-container ul li {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 15px 0px;
    position: relative;
}

.skill-container ul li::before {
    content: '';
    position: absolute;
    top: calc(100% * 2 - 80px);
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #fcfff2dc;
}

.skill-container ul li::after {
    content: '';
    position: absolute;
    top: calc(100% * 2 - 80px);
    left: 0;
    width: 0;
    height: 20px;
    background-color: #61ff5c;
    color: black;
}

.skill-container ul li.html::after {
    content: '90%';
    text-align: center;
    font-size: 13px;
    width: 90%;
}

.skill-container ul li.css::after {
    content: '85%';
    text-align: center;
    font-size: 13px;
    width: 85%;
    background-color: #a5faa9;
}

.skill-container ul li.bootstrap::after {
    content: '55%';
    text-align: center;
    font-size: 13px;
    background-color: #d0ff4e;
    width: 55%;
}

.skill-container ul li.js::after {
    content: '70%';
    text-align: center;
    font-size: 13px;
    width: 70%;
    background-color: #83ff6d;
}

.skill-container ul li.jquery::after {
    content: '50%';
    text-align: center;
    font-size: 13px;
    width: 50%;
    background-color: #fffc60;
}

.skill-container ul li.react::after {
    content: '25%';
    text-align: center;
    font-size: 13px;
    width: 25%;
    background-color: #fc8f5d;
}

.skill-container ul li.photoshop::after {
    content: '65%';
    text-align: center;
    font-size: 13px;
    width: 65%;
    background-color: #abff7b;
}

.skill-container ul li.audacity::after {
    content: '45%';
    text-align: center;
    font-size: 13px;
    width: 45%;
    background-color: #ecff3d;
}

.about-section {
    margin: 0 6%;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.my-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-image img {
    width: 55%;
    border-radius: 1000px;
    border: 2px solid black;
    box-shadow: 1px -1px 12px black;
}

.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text hr {
    border-top: 2px solid black;
    border-bottom: none;
}

.about-text p {
    padding: 10px 0;
}

.about-text button {
    background-color: cornsilk;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
    border-radius: 10px;
    transition: .2s ease-in-out;
}

.about-text button:hover {
    background-color: #fde893;
    box-shadow: 1px -1px 12px #fff2bd;
}

.my-projects {
    margin: 10px 7%;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.project {
    text-align: center;
    transition: .2s linear;
    border-radius: 10px;
}

.project:hover {
    box-shadow: 1px -1px 13px black;
}

.project hr {
    border-top: 2px solid black;
    margin: 10px 20%;
    border-bottom: none;
}

.project img {
    width: 80%;
    padding: 10px 0;
}

.project p {
    padding: 10px 15%;
}

.project button {
    background-color: #ffdaa3;
    border: none;
    padding: 10px 15px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.project button:hover {
    box-shadow: 1px -1px 12px white;
}

.contact-container {
    margin: 10px 11%;
}

.contact-container input {
    border: none;
    height: 35px;
    padding: 2px 10px;
    font-size: 17px;
    font-family: 'Indie Flower', cursive;
    outline: none;
}

.first-row-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-container h5 {
    font-size: 20px;
}

.first-row-data input {
    width: 450px;
    border-radius: 500px;
    padding: 2px 10px;
}

.contact-container input:focus {
    background-color: #ffc04a;
    border: none;
    border-radius: 500px;
    box-shadow: 1px -1px 12px orange;
}

.second-and-third-row-data input {
    width: 930px;
    border-radius: 500px;
}

#message {
    height: 50px;
    border-radius: 10px;
    padding-top: 0;
}

.address {
    margin-top: 10px;
}

.message {
    margin-top: 10px;
}

.submit-button {
    text-align: center;
}

.submit-button button {
    margin: 20px 0;
    background-color: orange;
    border: none;
    padding: 10px 15px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    font-size: 18px;
    transition: .2s ease;
}

.submit-button button:hover {
    box-shadow: 1px -1px 12px orangered;
}

.footer-section {
    margin: 0 7%;
    text-align: center;
}

.footer-container {
    padding: 15px 0;
}

.footer-section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
}

.footer-section ul i {
    font-size: 30px;
    margin: 10px 10px;
    transition: .2s ease-in-out;
}

.footer-section ul i:hover {
    transform: scale(1.5);
}

.footer-section h5 {
    margin: 5px 0 50px 0;
}

.facebook1,
.instagram1,
.twitter1,
.linkedin1,
.github1 {
    color: white;
}

@media screen and (max-width: 1030px) {
    .portfolio-body {
        margin-right: -45px;
    }
    .first-row-data input {
        width: 395px;
    }
    .second-and-third-row-data input {
        width: 820px;
    }
}

@media screen and (max-width: 780px) {
    .top-banner {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-left: 0;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-image img {
        width: 50%;
    }
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-container {
        display: flex;
        justify-content: center;
    }
    .first-row-data {
        flex-direction: column;
        align-items: flex-start;
    }
    .first-row-data input {
        width: 500px;
    }
    .second-and-third-row-data input {
        width: 500px;
    }
}

@media screen and (max-width: 435px) {
    .banner-text h1 {
        font-size: 30px;
    }
    .banner-image img {
        width: 60%;
    }
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-text {
        text-align: center;
    }
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .first-row-data input {
        width: 370px;
    }
    .second-and-third-row-data input {
        width: 370px;
    }
}

@media screen and (max-width: 380px) {
    .portfolio-body {
        margin-right: -30px;
    }
    nav ul i {
        font-size: 25px;
    }
    nav ul i:hover {
        font-size: 27px;
    }
    .banner-image img {
        width: 60%;
    }
    .service img {
        width: 20%;
    }
    #image-and-title h4 {
        font-size: 15px;
    }
    .first-row-data input {
        width: 300px;
    }
    .second-and-third-row-data input {
        width: 300px;
    }
}

@media screen and (max-width: 325px) {
    .portfolio-body {
        margin-right: -40px;
    }
    nav ul i {
        font-size: 20px;
    }
    #image-and-title h4 {
        font-size: 13px;
    }
    .banner-text p {
        padding: 0 10px;
    }
    .banner-image img {
        width: 70%;
    }
}